
.main {
    --shadow: 0 2px 4px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    .video {
        iframe {
            width: 660px;
            height: 418px;
        }}
    h1 {
        position: relative;
        text-align: center;
        z-index: 2;
        top: 80px;
        font-style: italic;
        font-size: 38px;
        font-weight: 700;
        text-shadow: var(--shadow);
    } 
    &_content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 50px;
        
    }   
    .description {
        h2 {
            text-align: center;
        }
        width: 40%;
        margin: 30px 25px 10px 10px;
        
    }
    .bgimage {
        position: relative;
        caret-color: transparent;
        img {
            // width: calc(var(--index)*26);
            height: auto;
    } 
    &_btn {
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 15px;
        border-radius: 0;
        width: 100%;
        &:hover {
            background-color: #4d4c81;
            color: aquamarine;
        }
    }
    }
}
.poster {
    position: relative;
    text-align: center;
    overflow: hidden;
    top: 30px;
    a {
        text-decoration: none;
        color: white;
        font-size: 18px;
    }
    img {
        width: calc(var(--index)*31);
    }
    
}
@media (max-width: 800px) {
    
    .main {
        margin-left: 0;
        .video {
            iframe {
                width: 300px;
                height: auto;
            }}
        h1 {
            top: 10vh;
            font-size: 22px ;
            color: #2925ff;
            mix-blend-mode:hard-light;
        }
        
        }
        .main_content {
            flex-direction: column-reverse;
            .description {
                margin-right: 0;
                margin-top: 2vh;
                width: 90%;
            }
        }
        
        .bgimage{
                img {
                width: 100%;
            }
        }
    }
    

.components {
    display: flex;
    flex-direction: column;
    align-items: center;
}