
.main {
    --shadow: 0 2px 4px rgba(0, 0, 0, 1);
    
    h1 {
        position: relative;
        text-align: center;
        z-index: 2;
        top: 20vh;
        font-style: italic;
        font-size: 44px;
        font-weight: 700;
        text-shadow: var(--shadow);
    } 
    .main_content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 10vh;
        
    }   
    .description {
        h2 {
            text-align: center;
        }
        width: 40%;
        margin: 10vh 15vw 5vh 5vw;
        
    }
    .bgimage {
        position: relative;
        caret-color: transparent;
        img {
            width: calc(var(--index)*26);
            height: auto;
    } 
    &_btn {
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 15px;
        border-radius: 0;
        width: 100%;
        &:hover {
            background-color: #4d4c81;
            color: aquamarine;
        }
    }
    }
}
.poster {
    position: relative;
    text-align: center;
    overflow: hidden;
    top: 9vh;
    a {
        text-decoration: none;
        color: white;
        font-size: 18px;
    }
    img {
        width: calc(var(--index)*31);
    }
    &_contacts {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 32vw;
        bottom: 25vh;
        a {
            margin-bottom: 1rem;
        }
    }
    &_links {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        left: 29vw;
        bottom: 15vh;
    }
}
@media (max-width: 800px) {
    .main {
        h1 {
            top: 10vh;
            font-size: 22px;
            color: #2925ff;
            mix-blend-mode:hard-light;
        }
        .main_content {
            flex-direction: column-reverse;
            .description {
                margin-right: 0;
                margin-top: 2vh;
                width: 90%;
            }
        }
        
        .bgimage{
            margin-top: -5vh;
            img {
                width: 100%;
            }
        }
    }
    
}