.gallery {
    position: relative;
    width:100%;
    height: 650px;
    margin-top: 5vh;
    background-color: #4338ca;
    
    @media (max-width: 800px) {
        width: 100vw;
        height: 50vh;
    }
    h3 {
        font-size: calc(var(--index)*1.2);
    }

    &_card {
        padding: 3vw;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: calc(var(--index)*30);
        }
    }
}
.gallery_sceleton {
    width: 100%;
    height: 60vh;
    background-color: #4338ca ;
}