.media {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 25vh;
    width: 100%;
    justify-content: space-around;
    &_frame  {
        margin-top: 5vh;
        iframe {
           width: calc(var(--index)*20); 
           height: calc(var(--index)*11);
           border-radius: 15px;
           border: 1px solid grey
        }
    }
}