h1 {
	font-size: 5.25vmin;
	text-align: center;
	color: white;
}
p {
	font-size: max(10pt, 2.5vmin);
	line-height: 1.4;
	color: #0e390e;
	margin-bottom: 1.5rem;
}

.Wrap {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 50vw;
	height: 40em;
	margin: 6rem auto;
	border: 8px solid;
	border-image: linear-gradient(-50deg, rgb(0, 58, 128), #002db3, rgb(34, 53, 139), rgb(0, 58, 128), rgb(144, 164, 238), #0013e6, rgb(0, 38, 128)) 1;
	transition: .3s ease-in-out;
	position: relative;
	overflow: hidden;
	&:hover &_overlay {
		transform: translateX(-60vmin);
		&__content {
			border: none;
				transition-delay: .2s;
				transform: translateX(58vmin);
		}
		&__dots{
			transform: translateX(1rem);
			&_dot {
			background: #fff;
			}
		}
	}
 @media (max-width:800px) {
	width: 95vw;
 }
 	&_overlay {
		position: relative;
		display: flex;
		width: 100%;
		height: 100%;
		padding: 1rem .75rem;
		background: #183962;
		transition: .4s ease-in-out;
		z-index: 1;
		
		&__content {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 15vmin;
			height: 100%;
			padding: .5rem 0 0 .5rem;
			border: 3px solid;
			border-image: 
    			linear-gradient(
      			to bottom, 
      			#24aea7 5%,
      			rgb(34, 36, 139) 35% 65%,
      			#24ae8e 95%
    			) 0 0 0 100%;
			transition: .3s ease-in-out .2s;
			z-index: 1;
			
		}
		&__image_content {
			position: absolute;
			top: 0;
			right: 0;
			width: 60vmin;
			height: 100%;
			background-image: url("https://firebasestorage.googleapis.com/v0/b/fow-react.appspot.com/o/monum_foto.webp?alt=media&token=65419463-b622-4d6f-b153-7924be9602dd");
			background-size: cover;
			transition: .3s ease-in-out;
			&:hover {
				width: 50vmin;
			}
		}
		&__dots {
			position: absolute;
			bottom: 1rem;
			right: 2rem;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			width: 55px;
			height: 4vmin;
			transition: .3s ease-in-out .3s;
			
			&_dot {
				width: 14px;
				height: 14px;
				background: rgb(0, 89, 255);
				border: 1px solid indigo;
				border-radius: 50%;
				transition: .3s ease-in-out .3s;
				&:hover {
					background: white;
				}
			}
		}
	}
	&_text {
		position: absolute;
		top: 0;
		right: 0;
		width: 60vmin;
		height: 100%;
		padding: 3vmin 4vmin;
		background: #fff;
		box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / .4);
		overflow-y: scroll;
	}
}

