.YandexMap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 90%;
    iframe {
        width: calc(var(--index)*21);
        height: calc(var(--index)*12);
    }
    &_aboutKit {
        font-size: 22px;
        margin-left: 2rem;
    }
}


@media (max-width:800px) {
    .YandexMap {
        flex-direction: column;
        justify-content: center;
        align-items:center;
        margin: 0;
        padding: 0;
        &_aboutKit {
            font-size: 16px;
        }
    }
}