.Metropol {
    margin-top: 10px;
    min-width: 90vw;
    &_bg {
        position: relative;
        &__head {
            position: absolute;
            width: 100%;
            top: 2vh;
            display: flex;
            justify-content: center;

            h2 {
                color: aliceblue;
            }
        }
        &__caption {
            position: absolute;
            text-align: center;
            top: 15%;
            background-color: rgba($color: #000000, $alpha: .6);
            padding: 2rem 10rem;
            &___logos {
                display: flex;
               align-items: center;
               flex-wrap: wrap;
               justify-content: space-around;
                img {
                    width: calc(var(--index)*6);
                    margin-top: calc(var(--index)*15);
                    transition: all 500ms ease;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
            span {
                color: aliceblue;
                font-size: calc(var(--index)*1.2);
                a {
                    text-decoration: none;
                }
            }
        }
        &__img {
            width: 100%;
            border-top: 100px solid rgb(208, 152, 22);
        }
        
    }
}
@media (max-width: 800px) {
    .Metropol {
        &_bg__head {
            margin-left: 2vw;
        }
        &_bg__caption {
            top: 30%;
            span {
                font-size: calc(var(--index)*0.9);
            }
            padding: 2rem;
            &___logos {
                img {
                    margin-top: 3vh;
                    width: calc(var(--index)*3);
                }
            }
        }
    }
}