.poems {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
    margin-top: 15vh;
    margin-left: 2vw;
    ul > li {
        list-style-type:square;
    }
    @media (max-width: 800px) {
        flex-direction: column;
    }
    
    
    &_avatar {
        display: flex;
        flex-direction: column;
        margin-bottom: 3vh;
    }
    &_content {
        display: flex;
        flex-wrap: wrap;
        margin-top: 2vh;
        
        span {
            margin-right: 2rem;
            border: 2px dotted white;
            padding: 1rem;
            transition: all 2s;
        }
       
    }
   
   
}
