.posters {
    position: relative;
    width: 100%;
    background-color: rgba(85,15,78,255);
    margin-top: 5%;
     &_card {
        display: flex;
        align-items: center;
        justify-content: center;
     }

     img {
        height: calc(var(--index)*30);
    }
    .background {
        width: 100%;
        background-color: rgba(85,15,78,255);
        height: 800px;
    }
}