.newspapers {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    top: 18vh;
    margin-bottom: 20vh;
    a{
        text-decoration: none;

    }
    button {
        font-size: calc(var(--index)*0.8);
    }
    &_card {
       width: 70%;
        
        padding: 40px;
        &__header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 3vh;
            font-size: calc(var(--index)*0.8);
            a {
                color: rgb(214, 111, 46);
            }
        }
        &__content {
            font-size: calc(var(--index)*0.8);
        }
    }
}
@media (max-width:800px) {
    .newspapers {
        margin-bottom: 10vh;
        top: 10vh;
        button {
            font-size: calc(var(--index)*1.2);
        }
        &_card {
            margin:  10px 0;
            &__header {
                font-size: calc(var(--index)*1.2);
            }
            &__content {
                font-size: calc(var(--index)*1.1);
                text-align: justify;
            }
        }
    }
    
}