.Faces {
    margin-top: 20vh;
    &_head {
        margin-left: 2rem;
    }
    &_items {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(1, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 30px;
            list-style-type: none;
           
           @media (max-width: 800px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
           }
           @media (max-width: 520px) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, 1fr);
            margin-right: 2rem;
           }
        &__block {
            display: flex;
            flex-direction: column;
            background-color: #e0f2fe;
            align-items: center;
            justify-content: center;
            height: 350px;
            padding: 1.5rem;
            border: 2px solid rgb(168, 131, 131);
            img {
                width: calc(var(--index)*5);
                @media (max-width: 800px) {
                    width: calc(var(--index)*9);
                }
            }
            @media (max-width: 520px) {
                height: 330px;
            }
            &___text {
                text-align: start;
            }
        }
    }
}