.Marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 200px;
    @media (max-width: 800px) {
        height: 120px;
    }
    overflow-x: hidden;
    background-color: rgba(12, 117, 178, 0.636);
        &_track {
            position: absolute;
            white-space: nowrap;
            will-change: transform;
            padding: 1rem;
            animation: marquee 32s linear infinite;
            &__content {
               img {
                margin-left: 4rem;
                @media (max-width: 800px) {
                    width: 90px;
                    margin-left: 1.2rem;
                }
               }
            }
        }
        
  }
  
  
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-40%); }
  }