.Trustees {
    margin: 20vh 5vw; 
    &_card {
        margin-right: 2rem;
    }
    &_border {
        position: relative;
        height: 67vh;
        display: flex;
        align-items: center;
        img {
            position: absolute;
        }
    }
    
}