.PayForm {
    margin-top: 17vh;
    display: flex;
    align-items: center;
    padding: 15vh 5vw;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(043, 44, 132);
    border:  5px solid rgb(234, 86, 20);
    button {
        background-color: rgb(234, 86, 20);
        width: 150px;
        &:hover {
            background-color: rgb(139, 56, 18);
        }
    }
    &_paySystems {
        display: flex;
        align-items: center;
        gap: 25px;
        flex-wrap: wrap;
        
    }
    &_aboutTG, span {
        color: white;
        max-width: 600px;
        
    }
}