.PayForm {
    position: relative;
    top: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20vh 0;
    margin-bottom: 15%;
    background-color: rgb(043, 44, 132);
}