.Sketches {
    
        &_caption{
            color: azure;
        }
    &_content__carousel {
        width: 80vw;
        margin-top: 5vh;   
        margin-left: 5vw; 
        padding: 2%;
        
        button {
            background: #ffffff;
            color: rgb(255, 255, 255);
            margin-right: 1%;
            &:hover {
                background-color: #FF5F04;
            }
        }
    }
    &_card {
        padding-top: 3vh;
        padding-left: 5vw;
        img {
            width: calc(var(--index)*10);
            height: calc(var(--index)*12);
        }
    }
    .Sketches_content__mobile {
        display: none;
    }
}

@media (max-width: 800px) {
    .Sketches{
        .Sketches_content__mobile {
            display: flex;
            width: 80%;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        &_content__carousel {
            display: none;
        }
        
           
         img {
            width: calc(var(--index)*13);
            margin-right: 1rem;
    }
    &_item {
        display:flex;
        justify-content: center;
        align-items:center;
        position: relative;
        margin-left: 2rem;
        color: #ffffff;
       
        &__caption {
            margin-top: 10px;
            font-size: 0.8rem;
            line-height: 1.2;
            color: azure;
        }
       }
}
}

// .skeleton {
//     width: calc(var(--index)*15);
//     height: calc(var(--index)*18);
//     background-color: rgb(192, 189, 189);
// }