.Sketches_mobile {
    display: none;
}

@media (max-width: 800px) {
    .Sketches_mobile {
        margin-top: 5%;
        margin-left: 4%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 5vh;
         img {
            width: calc(var(--index)*15);
            height: calc(var(--index)*18);
        }
        .card {
            display: flex;
            align-items:center;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            &:not(:first-child) {
                margin-top: 3vh;
        }
        }
    }
    .Sketches_card {
        display: none;
    }
}
.skeleton {
    width: calc(var(--index)*15);
    height: calc(var(--index)*18);
    background-color: rgb(192, 189, 189);
}