.Club {
    margin-top: 17vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10% 0 10%;
    text-align: justify;
     p, ul, span, ol >li {
        color: azure;
        padding-bottom: 2rem;
        line-height: 1.5;
        font-size: large;
    }
        &_mainText {
           text-align: center;
           margin-top: 2rem;
           h1 {
            color: #ff7474;
           }
           span{
            font-size: x-large;
            color: burlywood;
           }
        }
        &_bg {
            // background: #368ee6 url("https://firebasestorage.googleapis.com/v0/b/fow-test-images.appspot.com/o/1.png?alt=media&token=8e2bde4b-bb79-4be9-a699-97de0095eaa1");
            position: absolute;
            position: fixed;
            background-position: 100% 88%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
            min-height: 100vh;
            background-color: rgb(33, 26, 86);
        }

        &_description,&_description2 {
            display: flex;
            flex-direction: column;
            align-items:center;
            margin-top: 10vh;
            
        }
        &_logo {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            img {
                transition: all .5s;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
}