@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Roboto+Flex:opsz@8..144&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
// globall
:root {
    --index: calc(1vw + 1vh); 
    --main-color: #0284c7
  }
  

body {
    font-family: 'Roboto', sans-serif;
    
    padding: 0;
    margin: 0;

    h1,h2,h3,h4,span {
        color: var(--main-color);
    }
}
button {
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    font-size: 20px;
    color: #ffffff;
    border-radius: 50px;
    background: #FF5F04;
    transition: all 0.3s;
  }
  button:hover {
    background: #FF9519;
    cursor: pointer;
  }
header {
    position: relative;
    z-index: 3;
}
.navbar {
    position: relative;
    z-index: 2;
    a {
        font-size: 22px;
    }
}

.box_img {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 5vh;
    gap: 2vw;
    align-items:center;
    justify-content: center;
    background-color: rgba(12, 117, 178, 0.636);
    caret-color: transparent;
    box-shadow: inset 0 0 30px black, 0 0 0 black;
}
.sub_title {
    position: relative;
    top: 14vh;
    text-align: center;
    z-index: 2;
    h3 {
        color: white;
    }
}

// sketches

.sketches img {
    width: calc(var(--index)*14);
    height: calc(var(--index)*18);
}




// video

.media_block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    width: 100%;
    justify-content: space-around;
}



@media (max-width: 600px) {
    .main_content {
        flex-direction: column-reverse;
    }
    .logo_top {
        display: none;
    }
    
.bgimage{
    margin-top: 10vh;
}
    .main h1 {
        top: 30vh;
        font-size: 18px;
        color: #2925ff;
        mix-blend-mode:hard-light;
    }
   
    
    @media (max-width: 450px) {
      
}}