@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Roboto+Flex:opsz@8..144&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
// globall
:root {
    --index: calc(1vw + 1vh); 
    --main-color: #0284c7
  }
  

body {
    font-family: 'Roboto', sans-serif;
    caret-color: transparent;
    padding: 0;
    margin: 0;
background-color: #f4f6fc;
    h1,h2,h3,h4,span {
        color: var(--main-color);
    }
}
button {
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    font-size: 20px;
    color: #ffffff;
    border-radius: 50px;
    background: #FF5F04;
    transition: all 0.3s;
  }
  button:hover {
    background: #FF9519;
    cursor: pointer;
  }
header {
    position: relative;
    z-index: 5;
    img {
        cursor: pointer;
        margin: 8px;
    }
}
.navbar {
    position: relative;
    z-index: 2;
    a {
        font-size: 22px;
    }
}
.money {
  opacity: 0.5;
  font-size: 12px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    padding: 0 0.3rem;
    font-size: 12px;
    background-color: rgb(234, 86, 20);
  }
}

.box_img {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 5vh;
    gap: 2vw;
    padding: 80px 20px;
    align-items:center;
    justify-content: center;
    background-color: rgba(12, 117, 178, 0.636);
    caret-color: transparent;
    box-shadow: inset 0 0 30px black, 0 0 0 black;
}
.sub_title {
    position: relative;
    top: 14vh;
    text-align: center;
    z-index: 2;
    h3 {
        color: white;
    }
}
.arrow-up {
    position: fixed;
      bottom: 40px;
      right: 40px;
      z-index: 10;
      border: none;
      background: none;
      border-radius: 5px;
      caret-color: transparent;
      &:hover {
        cursor: pointer;
      }
  }

  .hide {
    display: none;
   }
.show {
    display: block  ;
}
// video
// .show {display: block;}

.snowman {
    position: absolute;
    right: 0;
    top: 10vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
   animation: snow-scale 3s ease-in-out infinite;
    
}
@keyframes snow-scale {
    0% {
        transform: translateY(0px);
    }
    50% {transform: translateY(20px);}
    100% {
        transform: translateY(0px);
    }
}

.footer {
    margin-top: 10vh;
    padding: 2vh 2vw 2vh 3vw;
    bottom: 0;
    background-color: var(--main-color);
    display: flex;
    p, a {
        color: white;
        // font-size: calc(var(--index)*0.7);
        text-decoration: none;
    }
    .footer_content {
        margin-left: 10%;
        span {
            color: white;
            
        }
        
        strong {
            color: white;

        }
    }
    .footer_contacts {
        // margin-top: 2%;
        line-height: 10px;
    }
    .footer_confidently {
        display: flex;
        margin-left: 10%;
        align-items: flex-end;
    }
}

@media (max-width: 800px) {
    body {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .snowman {
        display: none;
    }
    .main_content {
        flex-direction: column-reverse;
    }
    .logo_top {
        display: none;
    }
    .navbar {
        display: none;
    }
    
    
    .bgimage{
        margin-top: 0;
    }
    .main h1 {
        font-size: 18px;
        color: #2925ff;
        mix-blend-mode:hard-light;
    }
    .footer {
        flex-direction: column;
        margin-top: 2vh;
        &_confidently {
            padding-top: 2rem;
        }
    } 
    
   
  }





/* Animations and timing delays */
.animate {
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  animation-fill-mode: backwards;
}
/* Pop In */
.pop { animation-name: pop; }
@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* Slide In */
.slide { animation-name: slide; }
@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(4em, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Slide Left */
.slide-left { animation-name: slide-left; }
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate(-45px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.slide-up {animation-name: slide-up;}
@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(3em);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.delay-1 {
  animation-delay: 0.3s;
}
.delay-2 {
  animation-delay: 0.6s;
}
.delay-3 {
  animation-delay: 0.9s;
}
.delay-4 {
  animation-delay: 1.2s;
}
.delay-5 {
  animation-delay: 1.5s;
}
.delay-6 {
  animation-delay: 1.8s;
}
.delay-7 {
  animation-delay: 2.1s;
}
.delay-8 {
  animation-delay: 2.4s;
}